@font-face {
    font-family: Sahel;
    src: url('/fonts/sahel/Sahel.eot');
    src: url('/fonts/sahel/Sahel.woff') format('woff'), url('./fonts/sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
    font-display: swap
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

body {
    font-family: Sahel,sans-serif !important;
    background-color: #f2f7ff;
}

/*a {
    color: #0366d6;
}*/
    /*.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/
    /*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/
    /*html {
    font-size: 18px;
}

@media (min-width: 768px) {
    html {
        font-size: 19px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}*/
    /* Sticky footer styles
-------------------------------------------------- */
    /*html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
    /*}*/
    .rtl {
    direction: rtl;
}

.rtl-justified {
    direction: rtl;
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.link-decoration-none a {
    text-decoration: none;
}

.zoom {
    transition: transform .2s;
}

    .zoom:hover {
        -ms-transform: scale(1.03); /* IE 9 */
        -webkit-transform: scale(1.03); /* Safari 3-8 */
        transform: scale(1.03);
    }

.color-1 {
    color: #22577A;
}

.bg-1 {
    background-color: #22577A;
}

.color-2 {
    color: #38A3A5;
}

.bg-2 {
    background-color: #38A3A5;
}

.color-3 {
    color: #57CC99;
}

.bg-3 {
    background-color: #57CC99;
}

.color-4 {
    color: #80ED99;
}

.bg-4 {
    background-color: #80ED99;
}

.color-5 {
    color: #FFF47D;
}

.bg-5 {
    background-color: #FFF47D;
}

.color-6 {
    color: #fff8dc;
}

.bg-6 {
    background-color: #fff8dc;
}

#home-search-button {
    border-radius: 0px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

#home-input-text {
    border-radius: 0px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.cover-background-center {
    background-size: cover;
    background-position: center;
}

@media (min-width: 992px) {
    #home-search-form {
        width: 600px;
        margin: auto;
    }
}

.shadow-xl {
    -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}

.size-70-70 {
    width: 70px;
    height: 70px;
}

.card-signin {
    margin-top: 100px;
    margin-bottom: 70px;
}

#login-checkbox {
    position: relative;
    top: 3px;
    height: 17px;
    width: 17px;
}

.w-fill {
    width: -webkit-fill-available;
}

.ltr {
    direction: ltr;
}

.place-card .card-body {
    min-height: 185px;
}

.place-card .btn-group {
    position: absolute;
    bottom: 15px;
}

@media (max-width: 1400px) {
    .place-card .card-body {
        min-height: 215px;
    }
}

@media (max-width: 767px) {
    .place-card .card-body {
        min-height: unset;
    }

    .place-card .btn-group {
        position: unset;
        bottom: unset;
    }
}

.place-card-bg {
    width: 100%;
    height: 225px;
}

.alert-light-primary {
    background-color: #DFECFF;
    max-height: 70px;
}

#site-header {
    background-image: url('/img/site/home-main-bg.jpg');
    background-size: cover;
}

#site-footer {
    background-image: url('/img/site/home-main-bg.jpg');
    background-size: cover;
}