<footer id="site-footer" class="text-center text-lg-start rtl">
    <section>
        <div class="container text-center text-md-start mt-5 pt-3">
            <div class="row mt-3 link-decoration-none zoom-over-p">
                <div class="col-xl-6 mx-auto mb-4 text-right">
                    <h6 class="fw-bold mb-4">
                        درباره‌ی گردشانه
                    </h6>
                    <p class="rtl-justified">
                        گردشانه، به عنوان راهنمایی برای یافتن بهترین مکان‌های تفریحی و گردشی  ایران، در زمستان سال 1400، فعالیت خود را آغاز کرده است. هدف تیم گردشانه این است که شما عزیزان و همراهانتان  را در پیدا کردن مناسب ترین مکان‌های‌ تفریحی و گردشی، متناسب با موقعیت  مکانی و ویژگی‌های مطلوب شما، همراهی کند.
                    </p>
                </div>
                <div class="col-xl-6 mx-auto mb-4 text-right">
                    <h6 class="fw-bold mb-4">
                        ارتباط با گردشانه
                    </h6>
                    <p class="rtl-justified">
                        برای ارتباط با گردشانه جهت انتقاد و پیشنهادات، درخواست ثبت مکان می‌توانید از طریق ایمیل زیر در ارتباط باشید.
                        <span class="d-block ltr">
                            <i class="bi bi-envelope-fill"></i>
                            gardeshaneh.ir@gmail.com
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3 bg-1 text-white">
        تمامی حقوق مادی و معنوی این سایت متعلق به
        <b>گردشانه</b>
        می‌باشد و هرگونه کپی برداری، غیرقانونی محسوب خواهد شد.
    </div>
</footer>